@using XwingTurnRunner.XWingStateMachine.Phases
@using XwingTurnRunner.Messages
@inject IBus Bus
@inject NavigationManager Nav

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    private IGame? game;

    protected override void OnInitialized()
    {
        Bus.Subscribe<NewGameStartedEvent>(x => SubscribeToGame(x.Game));
    }

    private void SubscribeToGame(IGame newGame)
    {
        game = newGame;
        // TODO: Make a SAGA?
        game.Bus.Register<SelectInitiativeRequest, Player>(x =>
        {
            Nav.NavigateTo("/choose-initiative");
            return x.SelectingPlayer;
        });
    }
}
